.Item {
    text-align: center;
}

.Item button {
    width: 300px;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 2px 2px #ccc;
    text-align:center;
    font-size: 18px;
 	border-radius: 2px;
 	background-color: white;
    color: gray;
    border: 2px solid lightblue;
    transition-duration: 0.4s;
}

.Item button:hover {
    background-color: lightblue;
    color: white;
}

.Item p {
    color: gray;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}
