<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.js"></script>

<div id="root"></div>
<script type="text/babel">
ReactDOM.render(
    <h1>Hello, React!</h1>,
    document.getElementById('root')
);
</script>
