.about {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-size: cover;
}

.fit-center {
    margin-left: 50%;
    transform: translateX(-50%) !important;
    width: 60vw;
}

.about h4 {
    margin: 0;
    padding-top: 20px;
    color: dimgray;
}

.technology {
    background-image: url("../pics/technology.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    box-shadow: 5px 2px 2px dimgray;
}

@media screen and (max-width: 600px) {
    .about h4 {
        padding-top: 1vw;
    }

    .technology {
        background-position: center;
    }
}