.navbar-expand {
    justify-content: center;
}

.background {
    min-height: calc(100vh - 64px - 2.63vw);
    width: 100%;
}

.transition-enter {
    opacity: 0;
    transform: scale(0.9);
}

.transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.transition-exit {
    opacity: 1;
}

.transition-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

@media screen and (max-width: 600px) {
    .background {
        min-height: calc(100vh - 64px - 7vw);
    }
}