.footer {
    color: whitesmoke;
    font-size: 20px;
    height: 44px;
}

.footer a {
    font-size: 20px !important;
}

@media screen and (max-width: 800px) {
  .footer, .footer a {
      font-size: 10px !important;
  }
}