a {
    color: whitesmoke;
    margin-right: 30px;
    font-size: 1.5vw;
}

.header a:hover {
    text-decoration: none;
    color: lightgray;
}

.header h4 {
    margin-left: -53px;
}

@media screen and (max-width: 800px) {
    .header, .header a {
        font-size: 15px;
    }

    .header h4 {
        font-size: 30px !important;
        margin-left: 5px;
        margin-bottom: 0 !important;
    }
}