.home {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    background-size: cover;
    align-content: flex-start;
    padding: 0 10vw;
}

.text-center {
    text-align: center;
}

.text-lef {
    text-align: left;
}

.text-center {
    padding: 20px 0;
}

@media screen and (max-width: 800px) {
  .text-center {
      padding: 15px 0 0 0;
  }
}