* {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}

h4 {
    margin-bottom: 0;
    font-size: 2.2vw !important;
}

@media screen and (max-width: 800px) {
  h4 {
      font-size: 1.3em !important;
  }
}