.field {
    width: 80%;
    min-width: 700px;
    margin-left: 50%;
    transform: translate(-50%, 30px);
    height: 160px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.55);
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
    padding: 3px 0;
}

.field:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.field.active {
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.field.active textarea {
    padding: 8px 16px 8px 16px;
}

.field.active textarea + label {
    top: 4px;
    opacity: 1;
    color: #512da8;
}

.field.locked {
    pointer-events: none;
}

.field textarea {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 16px;
    border: none;
    border-radius: 4px;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    color: #282828;
    outline: none;
    box-shadow: 0px 4px 20px 0px transparent;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
    -webkit-appearance: none;
}

.field textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.field textarea:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.field textarea + label {
    position: absolute;
    top: 24px;
    left: 16px;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    color: #ffffff;
    opacity: 0;
    pointer-events: none;
    transition: 0.1s all ease-in-out;
}

.field textarea + label.error {
    color: #ec392f;
}