.president {
    width: 60vw;
    /*margin-top: -30px;*/
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    border-color: rgba(0, 0, 0, 0.1);
    margin: 0;
}

.president:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.4);
}

.info {
    width: 43vw;
    margin-left: 1.3vw;
    margin-top: 1vw;
    text-align: left;
}

.picture {
    width: 14vw;
    height: 17.5vw;
}

@media screen and (max-width: 600px) {
    .president {
        width: 98vw;
    }

    .picture {
        width: 28vw;
        height: 35vw;
    }

    .info {
        padding-top: 2vw;
        font-size: 3vw;
        width: 68vw;
    }
}

