.presidents {
    background-image: url("../pics/flag.jpg");
    background-size: cover;
    padding: 1vw 19vw 1vw 19vw;
    text-align: left;
}

.president-container {
    height: 18vw;
    width: 62vw;
    overflow: hidden;
    /*margin-bottom: 10px;*/
}

.president-container a {
    position: absolute;
}

.president-container a:hover {
    text-decoration: none;
    color: lightgray;
}

@media screen and (max-width: 600px) {
    .presidents {
        padding: 1vw;
    }

    .president-container {
        width: 98vw;
        height: 38vw;
    }
}