.profile {
    margin-right: 10px;
    color: dimgray;
    font-size: 2vw;
    width: fit-content;
    display: inline-block;
    margin-top: 5vw;
}

.profile:last-child, .profile:nth-child(3) {
    margin-right: 0;
}

.profile-front {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}