.round {
    width: 16vw;
    height: 16vw;
    position: relative;
    border-radius: 10vw;
    overflow: hidden;
    margin-top: -5vw;
    margin-left: calc(1vw - 1em);
}

.round img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    opacity: 0.85;
    width: 16vw;
    height: 16vw;
}

.flippy-card {
    border-radius: 8px;
}