@import url('https://fonts.googleapis.com/css?family=Comfortaa|Dancing+Script|Handlee|Raleway');

*, html{
    margin:0; 
    padding:0;
}
input:hover, textarea:hover{
    outline:none;
    box-shadow:2px 2px 1px black inset;
}
body{
    padding:0;
    background-color:white;
    }
hr{
   border-color:#D5E5ED; 
}
header{
    background:url('https://oneclassblog.com/wp-content/uploads/2017/08/UT_Austin_640x320.jpg') no-repeat;
    background-size:85% 175px;
    opacity: 0.9;
    border-bottom:2px solid orange;
    border-radius:0 0 10px 10px;
    color:white;
    padding:30px;
    margin-bottom:20px;
}
h1 span{
    text-align:left;
    color:chocolate;
    font-size:32px;
}
.menu{
    position:fixed;
    top:30px;
    right:30px;
    padding:5px 4px;
    transition:border .2s linear;
}
.menu > div{
    width:25px;
    height:4px;
    background-color:#333; 
    margin:5px 0;
    box-shadow:2px 2px 2px #333;
    border-radius:4px 0 4px 0;
} 
.change .bar1 {
    -moz-webkit-transform: rotate(-45deg) translate(0, 0);
    transform: translate(-1px, 13px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -moz-webkit-transform: rotate(45deg);
    transform: translate(0, -6px) rotate(45deg);
}
.open{
   transform:translateX(0); 
}
nav{
   position:fixed;
   top:0px;
   left:-10px;
   background-color:black;
   background-color:rgba(2,2,2,0.9);
   width:50%;
   height:100%;
   box-shadow:1px 1px 1px 2px #222;
   text-align:center;
   transform:translateX(-100%);
   transition:transform .6s ease;
}
nav ul{
   display:block; 
   list-style:none;
   margin:15px 0;
}
nav ul li{
   text-transform:uppercase; 
   padding:15px 0;
   border-bottom:1px solid rgb(165,97,0);
}
nav ul li a{
    font-weight:bold;
   text-decoration:none;
   color:#fff;
}

.about{
    background:url('https://www.planwallpaper.com/static/images/wallpaper-2594020_1wgPZqQ.jpg') no-repeat ;
    background-size:100% 200px;
    border-radius:10px 10px 0 0;
}
.introduction{
    background-color: #fff;
    padding:15px;
    margin-bottom: 20px;
    border-bottom:1px solid;
    border-radius:0 0 10px 10px;
    text-align:left;
    font-family:'Raleway';
}
.quote{
    padding: 15px;
    background-color:#efefef;
    font-family:handlee; 
    font-size:20px;
    text-align:justify;
    border-radius:7px 7px 7px 7px;
}
.cite{
    text-align:right;
}
.about h1{
   font-family:'comfortaa','sans-serif';
   font-size:50px;
   text-align:center;
   padding-top:45px;
   padding-bottom:45px;
   color: white;
   color:rgba(255,255,255,0.9);
}
.projects h1{
   font-family:'comfortaa','sans-serif';
   font-size:50px;
   text-align:center;
   padding-top:45px;
   padding-bottom:45px;
   color: white;
   color:rgba(255,255,255,0.9);
}
.projects{
    margin-top:8px;
    background:url('https://s-media-cache-ak0.pinimg.com/originals/0b/60/2d/0b602dc7b47a45ee607bbefbfc1ed281.jpg') no-repeat ;
    background-size:100% 150px; 
    border-radius:10px 10px 0 0;
}
.container1 ul{
    /*list-style-type:none;*/
    display:inline-block;
    height:inherit;
    line-height:25px;
    margin:5px;
}
.container1{
    padding:20px;
    border-bottom:1px solid;
    border-radius:0 0 10px 10px;
    text-align:justify;
    font-family:'Raleway';
    margin-bottom:20px;
}
.contact{
    margin-top:8px;
    background:url('https://static1.squarespace.com/static/55fca201e4b04067a6bb72a7/t/560c6fa7e4b018278c85a9a0/1443655597100/london-phone-booth-awesome-full-hd-wallpaper-f56p35.jpg') no-repeat;
    background-size:100% 170px;
    border-radius:10px 10px 0 0;
}

.contact h1{
   font-family:'comfortaa','sans-serif';
   font-size:50px;
   text-align:center;
   padding-top:45px;
   padding-bottom:45px;
   color: white;
   color:rgba(255,255,255,0.9);
}

.container2 ul{
    list-style-type:none;
    display:inline-block ;
    width:100%;
    height:inherit;
}
.container2{
    background-color: #fff;
    padding:20px;
    padding-left:15%;
    margin-bottom: 20px;
    border-bottom:1px solid;
    border-radius:0 0 10px 10px;
    text-align:justify;
    font-family:'Raleway';
}

.contact ul li{
    float:left;
    width:25%;
    font-size:35px;
}
.contact ul li a{
    color:#000;
    text-decoration:none;
    text-align:center;
}

footer{
    font-family:'Serif';
    margin-top:10px;
    padding:20px;
    text-align: center;
    color:#ffffff;
    background: #35424a;
    border-radius:10px 10px 0 0;
}