.Item {
    text-align: center;
}

.Item button {
    width: 20vw;
    min-width: 230px;
    margin: 16px 0;
    box-shadow: 2px 2px #ccc;
    text-align:center;
    font-size: 20px;
 	border-radius: 2px;
 	background-color: white;
    color: black;
    border: 2px solid lightblue;
    transition-duration: 0.4s;
}

.Item button:hover {
    background-color: lightblue;
    color: white;
}

.Item p {
    color: black;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}
