.center {
    margin-left: 50%;
    transform: translateX(-50%);
}

.form {
    width: 30vw;
    min-width: 300px;
    margin-right: 10vw;
}

.btns button {
    width: 15vw;
    min-width: 190px;
}

.list {
    width: 40vw;
    min-width: 500px;
    margin-top: -20px;
    margin-bottom: 0;
}

.whole {
    width: 50vw;
    min-width: 650px;
    margin-top: 100px;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}



label::before {
    color: black;
}